{extend name="common:base" /}
{block name="style"}
<style>
.col-lg-3 {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    color: grey;
}

.lianjie:hover {
    border: 2px solid #1ab394;
    background: #E8E8E8;
    margin: -1px -2px 0 -2px;
    color: #1ab394;
}

.stats-label {
    color: red;
    font-size: 18px;
    font-weight: bold
}

.pull-left {
    font-size: 18px;
    font-weight: bold
}

p {
    font-size: 15px;
}
.iconfont{
  font-size: 40px;
}

/* small{
        font:600;
    } */
</style>
<link rel="stylesheet" href="__STATIC__/fonts/icon/iconfont.css" type="text/css" />
{/block}
{block name="content"}
 <div class="ibox-title">
                    <form class="form-inline" name="search-form" method="get" action="">
                    	 <div class="form-group" style="width: 100%;">
                            <div class="col-lg-10">
                                <button class="btn {:$type==1?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/pay_channel')}?type=1'">今日</button>
                                <button class="btn {:$type==2?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/pay_channel')}?type=2'">昨日</button>
                                <button class="btn {:$type==3?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/pay_channel')}?type=3'">本周</button>
                                <button class="btn {:$type==4?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/pay_channel')}?type=4'">上周</button>
                                <button class="btn {:$type==5?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/pay_channel')}?type=5'">本月</button>
                                <button class="btn {:$type==6?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/pay_channel')}?type=6'">上月</button>
                                <button class="btn {:$type==7?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/pay_channel')}?type=7'">今年</button>
                                <button class="btn {:$type==8?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/pay_channel')}?type=8'">全部</button>
                            </div>
                        </div>
                    	<br><br>
                        <div class="form-group" id="datepicker">
                            <label class="font-noraml"></label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" autocomplete="off" class="form-control" style="width:150px;" placeholder="起始时间" name="start_time" id="start_time"  value="{$start_time}">
                            </div>
                            至
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" autocomplete="off" class="form-control" style="width:150px;" placeholder="截止时间" name="end_time" id="end_time"  value="{$end_time}">
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div class="form-group">
                            <div class="col-lg-10">
                                <button class="btn btn-primary pull-right" type="submit">
                                   搜索
                                </button>
                            </div>
                        </div>
                        
                       
                    </form>
                </div>

    <!-- 充值统计 -->
    <div class="row" style="padding:0px 0px;margin-top:15px;padding-bottom: 20px;">
    
        <div class="col-lg-5" style="width: 49.6%;">
            <div class="ibox-title" style="border: 1px solid #dddddd; height:60px;border-radius :5px;">
                    <h3 style="line-height:30px;">总金额：￥{$data.success_amount}（{$data.success_num}个）</h3>
            </div>
        
        </div>
		
    </div>
    
	

  	<div class="ibox-content">
        <div class="table-responsive" id="spread_list">
            <table class="table table-striped">
                <thead>
                    <tr>
                    	<th>支付平台</th>
                        <th>商户号</th>
                        <th>支付金额/笔数</th>
                        <th>手续费</th>
                        <th>成功率</th>
                        <th>到账金额</th>
                     
                       
                    </tr>
                </thead>
                <tbody >
                  
                   
                </tbody>
            </table>
            <span></span>
        </div>
    </div>


{/block}
{block name="script"}
<script>

function user_spread_list(page){
	
	var obj=$("#spread_list"),table=obj.find('table:first').find('tbody:first'),page_html=obj.find('span:first');
	table.html('');	
	$.ajax({
 		type: 'post',
 		url: '{:url("total/pay_channel")}',
 		data:{
 			page:page,
 			ajax:1,
 			start_time:$("#start_time").val(),
 			end_time:$("#end_time").val(),
 		},
 		dataType: 'json',
 		success: function(data){
 			if(data.data.length<1){
 				table.html('<tr style="text-align:center;"><td colspan="99">暂无数据</td></tr>');
 				return;
 			}
 			var html='';
 			
 			for(var i=0;i<data.data.length;i++){
 				let user=data.data[i];
 				html+='<tr>';
 				html+='<td>'+user.channel_name+'</td>';
 				html+='<td> </td>';
 				html+='<td>'+user.success_amount+'/'+user.success_num+'</td>';
 				html+='<td>'+user.pump_amount+'</td>';
 				html+='<td>'+user.success_ratio+'</td>';
 				html+='<td>'+user.success_amount+'</td>';
 			
 				html+='</tr>';
 			}
 			table.html(html);
 			page_html.html(data.page);
 		}
 	});	
}


user_spread_list(1);
</script>
{/block}