{extend name="common:base" /}
{block name="content"}
<div class="ibox-title">
    <form action="" class="form-inline" method="get" name="search-form">
        <div class="form-group" style="width: 100%;">
            <div class="col-lg-10">
                <button class="btn {:$type==1?'btn-primary':'btn-default'} " onclick="window.location.href='{:url('total/player')}?type=1'" type="button">今日</button>
                <button class="btn {:$type==2?'btn-primary':'btn-default'} " onclick="window.location.href='{:url('total/player')}?type=2'" type="button">昨日</button>
                <button class="btn {:$type==3?'btn-primary':'btn-default'} " onclick="window.location.href='{:url('total/player')}?type=3'" type="button">本周</button>
                <button class="btn {:$type==4?'btn-primary':'btn-default'} " onclick="window.location.href='{:url('total/player')}?type=4'" type="button">上周</button>
                <button class="btn {:$type==5?'btn-primary':'btn-default'} " onclick="window.location.href='{:url('total/player')}?type=5'" type="button">本月</button>
                <button class="btn {:$type==6?'btn-primary':'btn-default'} " onclick="window.location.href='{:url('total/player')}?type=6'" type="button">上月</button>
                <button class="btn {:$type==7?'btn-primary':'btn-default'} " onclick="window.location.href='{:url('total/player')}?type=7'" type="button">今年</button>
                <button class="btn {:$type==8?'btn-primary':'btn-default'} " onclick="window.location.href='{:url('total/player')}?type=8'" type="button">全部</button>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group" id="datepicker">
            <label class="font-noraml">
            </label>
            <div class="input-group date">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input autocomplete="off" class="form-control" id="start_time" name="start_time" placeholder="起始时间" style="width:150px;" type="text" value="{$start_time}" />
            </div>
            至
            <div class="input-group date">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                <input autocomplete="off" class="form-control" id="end_time" name="end_time" placeholder="截止时间" style="width:150px;" type="text" value="{$end_time}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <button class="btn btn-primary pull-right" type="submit">搜索</button>
            </div>
        </div>
        </br>
        </br>
    </form>
</div>
<!-- 充值统计 -->
<div class="row" style="padding:0px 0px;margin-top:15px;padding-bottom: 20px;">
    <div class="col-lg-5" style="width: 49.6%;">
        <div class="ibox-title" style="border: 1px solid #dddddd; height:60px;border-radius :5px;">
            <h3 style="line-height:30px;">
                新增会员数：{$data.new_member_num}
            </h3>
        </div>
    </div>
    <div class="col-lg-5" style="width: 49.6%;">
        <div class="ibox-title" style="border: 1px solid #dddddd; height:60px;border-radius :5px;">
            <h3 style="line-height:30px;">
                充值金额：￥{$data.pay_money}
            </h3>
        </div>
    </div>
</div>
<div class="row" style="padding:0px 0px;padding-bottom: 20px;">
    <div class="col-lg-5" style="width: 49.6%;">
        <div class="ibox-title" style="border: 1px solid #dddddd; height:60px;border-radius :5px;">
            <h3 style="line-height:30px;">
                兑换金额：￥{$data.withdraw_money}
            </h3>
        </div>
    </div>
    <div class="col-lg-5" style="width: 49.6%;">
        <div class="ibox-title" style="border: 1px solid #dddddd; height:60px;border-radius :5px;">
            <h3 style="line-height:30px;">
                可用金额：￥{$data.availble_money}
            </h3>
        </div>
    </div>
</div>
<div class="ibox-content">
    <div class="table-responsive" id="spread_list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>玩家ID</th>
                    <th>玩家昵称</th>
                    <!-- <th>玩家手机</th> -->
                    <th>充值金额</th>
                    <th>兑换金额</th>
                    <th>赠送金币</th>
                    <th>可用金额</th>
                    <th>注册时间</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <span>
        </span>
    </div>
</div>
{/block}
{block name="script"}
<script>
function user_spread_list(page) {

    var obj = $("#spread_list"),
        table = obj.find('table:first').find('tbody:first'),
        page_html = obj.find('span:first');
    table.html('');
    $.ajax({
        type: 'post',
        url: '{:url("total/player")}',
        data: {
            page: page,
            ajax: 1,
            start_time: $("#start_time").val(),
            end_time: $("#end_time").val(),
        },
        dataType: 'json',
        success: function(data) {
            if (data.data.length < 1) {
                table.html('<tr style="text-align:center;"><td colspan="99">暂无数据</td></tr>');
                return;
            }
            var html = '';

            for (var i = 0; i < data.data.length; i++) {
                let user = data.data[i];
                html += '<tr>';
                html += '<td>' + user.uid + '</td>';
                html += '<td>' + user.nickname + '</td>';
                //html += '<td>' +  + '</td>';
                html += '<td>' + user.pay_money + '</td>';
                html += '<td>' + user.withdraw_money + '</td>';
                html += '<td>' + user.send_gold + '</td>';
                html += '<td>' + user.availble_money + '</td>';
                html += '<td>' + user.create_time + '</td>';
                html += '</tr>';
            }
            table.html(html);
            page_html.html(data.page);
        }
    });
}
user_spread_list(1);
</script>
{/block}