{extend name="common:base" /}
{block name="style"}
<style type="text/css">
.table>thead>tr>th {
    text-align: center;
}
</style>
{/block}
{block name="content"}
<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12" style="background-color:#f9f9f9;height:120px;">
                <div class="m-b-md">
                    <h3>玩家增长情况</h3>
                </div>
                <form class="form-inline" name="search-form" method="get" action="">
                    <div class="ibox-content" style="background-color:#f9f9f9">
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <button class="btn btn-primary pull-right zengchang" type="button">
                                    搜索
                                </button>
                            </div>
                        </div>
                        <div class="form-group pull-right" id="datepicker">
                            <label class="font-noraml"></label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" autocomplete="off" class="form-control" style="width:150px;" placeholder="起始时间" name="zengchang" value="{$Think.get.startDate}">
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-lg-12">
                                <select name="" id="zenchang" style="width:150px;height:40px;border:dimgray;font-size:18px;">
                                    {:get_month_text_html(-1)}
                                </select>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <a href="" class="btn btn-info">
                                    <i class="fa fa-download"></i> 导出数据
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12" style="float:none;margin-left:auto;margin-right:auto">
            <div class="row">
                <div style=" height: 450px; width:1300px;margin: auto; border: 1px solid #FFFFFF; border-radius: 5px;font-size: 18px" id="bar1_line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="background-color:#f9f9f9;height:120px">
                <div class="m-b-md">
                    <h2>玩家端口来源</h2>
                </div>
                <form class="form-inline" name="search-form" method="get" action="">
                    <div class="ibox-content" style="background-color:#f9f9f9">
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <button class="btn btn-primary pull-right laiyuan" type="button">
                                    搜索
                                </button>
                            </div>
                        </div>
                        <div class="form-group pull-right" id="datepicker">
                            <label class="font-noraml"></label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" autocomplete="off" class="form-control" style="width:150px;" placeholder="起始时间" name="laiyuan" value="{$Think.get.startDate}">
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-lg-12">
                                <select name="" id="laiyuan" style="width:150px;height:40px;border:dimgray;font-size:18px;">
                                    {:get_month_text_html(-1)}
                                </select>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <a href="" class="btn btn-info">
                                    <i class="fa fa-download"></i> 导出数据
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12" style="float:none;margin-left:auto;margin-right:auto">
            <div class="row">
                <div style=" height: 600px; width:1200px;margin: auto; border: 1px solid #FFFFFF; border-radius: 5px;font-size: 18px" id="bar2_line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="background-color:#f9f9f9;height:120px;">
                <div class="m-b-md">
                    <h2>玩家消费金额分布</h2>
                </div>
                <form class="form-inline" name="search-form" method="get" action="">
                    <div class="ibox-content" style="margin-top:10px;background-color:#f9f9f9">
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <button class="btn btn-primary pull-right xiaofei" type="button">
                                    搜索
                                </button>
                            </div>
                        </div>
                        <div class="form-group pull-right" id="datepicker">
                            <label class="font-noraml"></label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" autocomplete="off" class="form-control" style="width:150px;" placeholder="起始时间" name="xiaofei" value="{$Think.get.startDate}">
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-lg-12">
                                <select name="" id="xiaofei" style="width:150px;height:40px;border:dimgray;font-size:18px;">
                                    {:get_month_text_html(-1)}
                                </select>
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <a href="" class="btn btn-info">
                                    <i class="fa fa-download"></i> 导出数据
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12" style="float:none;margin-left:auto;margin-right:auto;">
            <div class="row">
                <div style="margin:auto; height:500px; width:1200px; border: 1px solid #FFFFFF; border-radius: 5px;font-size: 18px;" id="bar3_line"></div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="__LIB__/echarts4.2/echarts.min.js"></script>
<script src="__LIB__/echarts4.2/timeline.js"></script>
<script>
$(function() {
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('bar1_line'));
    var myChart2 = echarts.init(document.getElementById('bar2_line'));
    var myChart3 = echarts.init(document.getElementById('bar3_line'));

    data = {$recharge_player|json_encode};
    var arr = [];
    for (var i in data) {
        arr.push([i, data[i]]);
    }
    var dateList = arr.map(function(item) {
        return item[0];
    });
    var valueList = arr.map(function(item) {
        return item[1];
    });

    option = {
        visualMap: [{
            show: false,
            type: 'continuous',
            seriesIndex: 0,
            min: 0,
            max: 400
        }],

        title: [{
            left: 'center',
            text: '玩家增长情况'
        }],
        tooltip: {
            trigger: 'axis'
        },
        xAxis: [{
            data: dateList
        }],
        yAxis: [{
            splitLine: { show: false }
        }],
        grid: [{
            bottom: '10%'
        }, {
            top: '80%'
        }],
        series: [{
            name: '新增人数',
            type: 'line',
            showSymbol: false,
            data: valueList
        }]
    };

    option2 = {
        color: ['#FF7F50', '#00BFFF'],
        backgroundColor: '#ffffff',
        title: {
            text: '玩家端口来源',
            subtext: '',
            x: 'center'
        },
        textStyle: {
            fontSize: 18, // 用 legend.textStyle.fontSize 更改示例大小
            fontWeight: 600
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            fontSize: 18,
            orient: 'vertical',
            left: 'left',
            data: ['android', 'ios']
        },
        series: [{
                name: '人数',
                type: 'pie',
                radius: '55%',
                center: ['30%', '60%'],
                backgroundColor: '#ffffff',
                data: {$players|json_encode},
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    },
                    normal: ['#4ad2ff', '#ffffff']
                }
            },

            {
                name: '人数',
                type: 'pie',
                radius: '55%',
                center: ['70%', '60%'],
                backgroundColor: '#ffffff',
                data: {$players|json_encode},
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    },
                    normal: ['#4ad2ff', '#ffffff'],
                },
            }
        ]
    };


    option3 = {
        backgroundColor: '#ffffff',
        xAxis: {
            type: 'category',
            data: ['0-50元', '51-100元', '101-200元', '201-500元', '501-1000元', '1001-5000元', '5001-10000元', '10000元上']
        },
        textStyle: {
            fontSize: 18, // 用 legend.textStyle.fontSize 更改示例大小
            fontWeight: 600
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                name: 'asd', // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        yAxis: [{
                type: 'value',
                name: '订单数 /单',
                position: 'left',
                axisLabel: {
                    formatter: '{value}'
                }
            },

        ],

        series: [{
                name: '订单数量',
                data: {$orderinfo|json_encode},
                type: 'bar',
                label: {
                    normal: {
                        color: '#1691de',
                        size: 18,
                        show: true,
                        position: 'top'
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#1691de'
                    }
                },
            },

        ]

    };
    myChart1.setOption(option);
    myChart2.setOption(option2);
    myChart3.setOption(option3);
    $('.xiaofei').on('click', function() {
        $time = $("input[name='xiaofei']").val();
        xiaofei($time);
    })
    $('.zengchang').on('click', function() {
        $time = $("input[name='zengchang']").val();
        zenchang($time);
    })
    $('.laiyuan').on('click', function() {
        $time = $("input[name='laiyuan']").val();
        laiyuan($time);
    })

    var systemDate = new Date();
    var year = systemDate.getFullYear();
    var month = systemDate.getMonth() + 1;
    xiaofei(year + '-' + month);
    $('#xiaofei').change(function() {
        var time = $(this).val();
        xiaofei(time);
    });

    function xiaofei(time) {
        var url = "{:url('total/statistics_amount')}";
        $.ajax({
            url: url,
            type: "POST",
            data: { timetype: time, type: 1 },
            dataType: "json",
            success: function(ret) {
                if (ret.code) {
                    option3.series[0].data = ret.info;
                    myChart3.setOption(option3);
                }
            }
        });
    }
    $('#laiyuan').change(function() {
        var time = $(this).val();
        laiyuan(time);
    });

    function laiyuan(time) {
        var url = "{:url('total/get_userchannel')}";
        $.ajax({
            url: url,
            type: "POST",
            data: { timetype: time, type: 1 },
            dataType: "json",
            success: function(ret) {
                if (ret.code) {
                    option2.series[0].data = ret.info;
                    option2.series[0].data = ret.info;
                    myChart2.setOption(option2);
                }
            }
        });
    }

    $('#zenchang').change(function() {
        var time = $(this).val();
        zenchang(time);
    });

    function zenchang(time) {
        var url = "{:url('total/recharge_player')}";
        $.ajax({
            url: url,
            type: "POST",
            data: { timetype: time },
            dataType: "json",
            success: function(ret) {
                if (ret.code) {
                    var info = ret.info;
                    var arr = [];
                    for (var i in info) {
                        arr.push([i, info[i]]);
                    }
                    var dateList = arr.map(function(item) {
                        return item[0];
                    });
                    var valueList = arr.map(function(item) {
                        return item[1];
                    });
                    option.xAxis[0].data = dateList;
                    option.series[0].data = valueList;
                    myChart1.setOption(option);
                }
            }
        });
    }

});
</script>
{/block}