{extend name="common:base" /}
{block name="content"}
<div class="ibox-title">
    <form class="form-inline" name="search-form" method="get" action="">
        <div class="form-group" style="width: 100%;">
            <div class="col-lg-10">
                <button class="btn {:$type==1?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=1'">今日</button>
                <button class="btn {:$type==2?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=2'">昨日</button>
                <button class="btn {:$type==3?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=3'">本周</button>
                <button class="btn {:$type==4?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=4'">上周</button>
                <button class="btn {:$type==5?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=5'">本月</button>
                <button class="btn {:$type==6?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=6'">上月</button>
                <button class="btn {:$type==7?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=7'">今年</button>
                <button class="btn {:$type==9?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=9'">去年</button>
                <button class="btn {:$type==10?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=10'">过去7天</button>
                <button class="btn {:$type==11?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=11'">过去30天</button>
                <button class="btn {:$type==8?'btn-primary':'btn-default'} " type="button" onclick="window.location.href='{:url('total/whole_overview')}?type=8'">全部</button>
            </div>
        </div>
        <br><br>
        <div class="form-group" id="datepicker">
            <label class="font-noraml"></label>
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" autocomplete="off" class="form-control" style="width:150px;" placeholder="起始时间" name="start_time" id="start_time" value="{$start_time}">
            </div>
            至
            <div class="input-group date">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" autocomplete="off" class="form-control" style="width:150px;" placeholder="截止时间" name="end_time" id="end_time" value="{$end_time}">
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
            <div class="col-lg-10">
                <button class="btn btn-primary pull-right" type="submit">
                    搜索
                </button>
            </div>
        </div>
    </form>
</div>
<div class="row" style="background: #dddddd;padding: 5px;margin:5px 2px;">
    <h3>整体数据总览({$start_time}~{$end_time} | 上线{$day_num}天)</h3>
</div>
{volist name="block" id="vo"}
<div class="col-lg-2" style="padding: 0 10px">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4>{$vo['0']}</h4>
        </div>
        <div class="ibox-content">
            <h2 class="text-center">{$vo['1']}</h2>
            <div class="stat-percent font-bold text-info">{$vo['2']}</div>
        </div>
    </div>
</div>
{/volist}
<div class="row" style="background: #dddddd;padding: 5px;margin:5px 2px;clear: both;">
    <h3>数据概览</h3>
</div>
<div class="row" style="padding:0px 0px;margin: 10px 2px;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 350px; padding: 10px;margin-bottom: 30px;">
        <div style="width:30%;float: left;padding:15px 0px 0px 20px;">
            <div><h2>日平台盈利</h2>
            </div>
            <div style="margin-top: 20px;">{$start_time}~{$end_time}</div>
            <div style="margin-top: 20px;">{$last_day}(日)</div>
            <div style="margin-top: 20px;"><h1>{$chart['platform_profit'][count($chart['platform_profit'])-1]}元</h1>
            </div>
            <div style="margin-top: 70px;"><h2>合计{:array_sum($chart['platform_profit'])}</h2>
            </div>
        </div>
        <div style="width:68%;float: left; height: 338px; border: 1px solid #FFFFFF; border-radius: 5px" id="day_profit_line"></div>
    </div>
</div>
<div class="row" style="padding:0px 0px;margin: 10px 2px;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 350px; padding: 10px;margin-bottom: 30px;">
        <div style="width:30%;float: left;padding:15px 0px 0px 20px;">
            <div><h2>日游戏输赢</h2>
            </div>
            <div style="margin-top: 20px;">{$start_time}~{$end_time}</div>
            <div style="margin-top: 20px;">{$last_day}(日)</div>
            <div style="margin-top: 20px;"><h1>{$chart['day_game_win'][count($chart['day_game_win'])-1]}元</h1>
            </div>
            <div style="margin-top: 70px;"><h2>合计{:array_sum($chart['day_game_win'])}</h2>
            </div>
        </div>
        <div style="width:68%;float: left; height: 338px; border: 1px solid #FFFFFF; border-radius: 5px" id="day_game_win_line"></div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-title">
        <h5>近一个小时在线人数</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-2">
                <h2 style="margin-top: 20px;color: red;">{$online_user_num['player'] - $online_user_num['robot']}</h2>
                <div style="font-size: 15px;font-weight: lighter">游戏中玩家</div>

                <h2 style="margin-top: 20px;color: red;">{$online_user_num['robot']}</h2>
                <div style="font-size: 15px;font-weight: lighter">游戏中机器人</div>

                <h2 style="margin-top: 20px;color: red;">{$online_user_num['all_player'] - $online_user_num['all_robot']}</h2>
                <div style="font-size: 15px;font-weight: lighter">在线玩家</div>

                <h2 style="margin-top: 20px;color: red;">{$online_user_num['all_robot']}</h2>
                <div style="font-size: 15px;font-weight: lighter">在线机器人</div>
            </div>
            <div class="col-lg-10" style="height: 300px;" id="bar3_line">
            </div>
        </div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-title">
        <h5>近一个小时游戏盈亏</h5>
    </div>
    <div class="ibox-content">
        <div style="height: 300px;" id="bar6_line">
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="  row" style="padding:0px 0px;margin: 10px 2px;width: 49%;display: inline-block;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 480px; padding: 10px;margin-bottom: 30px;">
        <div style="padding:15px 0px 0px 20px;">
            <div style="font-size: 17px;font-weight: bold;">游戏税收</div>
            <div style="margin-top: 10px;">{$start_time}~{$end_time}</div>
            <div style="padding: 15px 0px;width: 49%;display: inline-block;">
                <div>{$last_day}(日)</div>
                <div><h2>{$chart['game_tax'][count($chart['game_tax'])-1]}元</h2>
                </div>
            </div>
            <div style="padding: 15px 40px;width: 49%;display: inline-block;border-left:1px solid #DDDDDD;">
                合计<h2>{:array_sum($chart['game_tax'])}</h2>
            </div>
        </div>
        <div style="height: 300px; border: 1px solid #FFFFFF;width: 80%; " id="game_tax_line">
        </div>
    </div>
</div>
<div class="  row" style="padding:0px 0px;margin: 10px 2px;width: 49%;display: inline-block;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 480px; padding: 4px 10px;margin-bottom: 30px;">
        <div style="padding:15px 0px 0px 20px;height:165px;">
            <div style="font-size: 17px;font-weight: bold;">出金税收</div>
            <div style="margin-top: 10px;">{$start_time}~{$end_time}</div>
            <div style="padding: 15px 0px;width: 49%;display: inline-block;">
                <div style="float: left;">
                    <div>{$last_day}(日)</div>
                    <div><h2>{$chart['withdraw_pump'][count($chart['withdraw_pump'])-1]+$chart['exchange_pump'][count($chart['exchange_pump'])-1]}元</h2>
                    </div>
                </div>
                <div style="float: left;padding-left:46px;font-size:19px;color:#A1A1A1;">
                    <div>提现税收：{$chart['withdraw_pump'][count($chart['withdraw_pump'])-1]}元</div>
                    <div>兑换税收：{$chart['exchange_pump'][count($chart['exchange_pump'])-1]}元</div>
                </div>
            </div>
            <div style="padding: 0px 40px;width: 49%;display: inline-block;border-left:1px solid #DDDDDD;">
                <div>
                    <div>合计<h2>{:array_sum($chart['withdraw_pump'])+array_sum($chart['exchange_pump'])}</h2>
                    </div>
                    <div>提现税收：{:array_sum($chart['withdraw_pump'])}元</div>
                    <div>兑换税收：{:array_sum($chart['exchange_pump'])}元</div>
                </div>
            </div>
        </div>
        <div style="height: 300px; border: 1px solid #FFFFFF; width: 90%;" id="withdraw_tax_line">
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="  row" style="padding:0px 0px;margin: 10px 2px;width: 49%;display: inline-block;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 480px; padding: 10px;margin-bottom: 30px;">
        <div style="padding:15px 0px 0px 20px;">
            <div style="font-size: 17px;font-weight: bold;">打码量</div>
            <div style="margin-top: 10px;">{$start_time}~{$end_time}</div>
            <div style="padding: 15px 0px;width: 49%;display: inline-block;">
                <div>{$last_day}(日)</div>
                <div><h2>{$chart['bets_gold'][count($chart['bets_gold'])-1]}元</h2>
                </div>
            </div>
            <div style="padding: 15px 40px;width: 49%;display: inline-block;border-left:1px solid #DDDDDD;">
                合计<h2>{:array_sum($chart['bets_gold'])}</h2>
            </div>
        </div>
        <div style="height: 300px; border: 1px solid #FFFFFF; width: 90%;" id="bets_gold_line">
        </div>
    </div>
</div>
<div class="  row" style="padding:0px 0px;margin: 10px 2px;width: 49%;display: inline-block;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 480px; padding: 10px;margin-bottom: 30px;">
        <div style="padding:15px 0px 0px 20px;">
            <div style="font-size: 17px;font-weight: bold;">佣金</div>
            <div style="margin-top: 10px;">{$start_time}~{$end_time}</div>
            <div style="padding: 15px 0px;width: 49%;display: inline-block;">
                <div>{$last_day}(日)</div>
                <div><h2>{$chart['agent_money'][count($chart['agent_money'])-1]}元</h2>
                </div>
            </div>
            <div style="padding: 15px 40px;width: 49%;display: inline-block;border-left:1px solid #DDDDDD;">
                合计<h2>{:array_sum($chart['agent_money'])}</h2>
            </div>
        </div>
        <div style="height: 300px; border: 1px solid #FFFFFF;width: 90%; " id="agent_money_line">
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="  row" style="padding:0px 0px;margin: 10px 2px;width: 49%;display: inline-block;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 480px; padding: 10px;margin-bottom: 30px;">
        <div style="padding:15px 0px 0px 20px;">
            <div style="font-size: 17px;font-weight: bold;">每日充值金额</div>
            <div style="margin-top: 10px;">{$start_time}~{$end_time}</div>
            <div style="padding: 15px 0px;width: 49%;display: inline-block;">
                人工充值<h2>{:array_sum($chart['artificial_pay'])}</h2>
            </div>
            <div style="padding: 15px 40px;width: 49%;display: inline-block;border-left:1px solid #DDDDDD;">
                线上充值<h2>{:array_sum($chart['online_pay'])}</h2>
            </div>
        </div>
        <div style="height: 300px; border: 1px solid #FFFFFF;width: 90%; " id="day_pay_money_line">
        </div>
    </div>
</div>
<div class="  row" style="padding:0px 0px;margin: 10px 2px;width: 49%;display: inline-block;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 480px; padding: 10px;margin-bottom: 30px;">
        <div style="padding:15px 0px 0px 20px;">
            <div style="font-size: 17px;font-weight: bold;">每日出金</div>
            <div style="margin-top: 10px;">{$start_time}~{$end_time}</div>
            <div style="padding: 15px 0px;width: 49%;display: inline-block;">
                提现<h2>{:array_sum($chart['withdraw'])}元</h2>
            </div>
            <div style="padding: 15px 40px;width: 49%;display: inline-block;border-left:1px solid #DDDDDD;">
                兑换<h2>{:array_sum($chart['exchange'])}元</h2>
            </div>
        </div>
        <div style="height: 300px; border: 1px solid #FFFFFF;width: 90%; " id="day_withdraw_line">
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div class="  row" style="padding:0px 0px;margin: 10px 2px;width: 49%;display: inline-block;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 480px; padding: 10px;margin-bottom: 30px;">
        <div style="padding:15px 0px 0px 20px;">
            <div style="font-size: 17px;font-weight: bold;">每日活跃用户数</div>
            <div style="margin-top: 10px;">{$start_time}~{$end_time}</div>
            <div style="padding: 15px 0px;width: 49%;display: inline-block;">
                <div>{$last_day}(日)</div>
                <div><h2>{$chart['active_user'][count($chart['active_user'])-1]}人</h2>
                </div>
            </div>
            <div style="padding: 15px 40px;width: 49%;display: inline-block;border-left:1px solid #DDDDDD;">
                合计<h2>{:array_sum($chart['active_user'])}</h2>
            </div>
        </div>
        <div style="height: 300px; border: 1px solid #FFFFFF;width: 90%; " id="day_active_line">
        </div>
    </div>
</div>
<div class="  row" style="padding:0px 0px;margin: 10px 2px;width: 49%;display: inline-block;">
    <div class="ibox-title" style="border: 1px solid #dddddd;height: 480px; padding: 10px;margin-bottom: 30px;">
        <div style="padding:15px 0px 0px 20px;">
            <div style="font-size: 17px;font-weight: bold;">每日新增用户数</div>
            <div style="margin-top: 10px;">{$start_time}~{$end_time}</div>
            <div style="padding: 15px 0px;width: 49%;display: inline-block;">
                <div>{$last_day}(日)</div>
                <div><h2>{$chart['reg_user'][count($chart['reg_user'])-1]}人</h2>
                </div>
            </div>
            <div style="padding: 15px 40px;width: 49%;display: inline-block;border-left:1px solid #DDDDDD;">
                合计<h2>{:array_sum($chart['reg_user'])}</h2>
            </div>
        </div>
        <div style="height: 300px; border: 1px solid #FFFFFF;width: 90%; " id="day_reg_user_line">
        </div>
    </div>
</div>
<div style="padding-bottom: 30px;"></div>
{/block}
{block name="script"}
<script src="__LIB__/echarts4.2/echarts.min.js"></script>
<script>
var chartdata = {:json_encode($chart)};

var option = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: '',
            label: {
                backgroundColor: '#red'
            }
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [{
        splitLine: { show: false },
        type: 'category',
        boundaryGap: false,
        data: chartdata.date_arr,
    }],
    yAxis: [{
        splitLine: { show: false },
        type: 'value'
    }]
};

function set_chart(id, name, data, type = 'line', name2 = false, data2 = false) {
    var _option = JSON.parse(JSON.stringify(option));
    if (type == 'line') {
        //线型图
        if (data2 != false) {
            $.extend(_option, {
                series: [{
                    smooth: true,
                    name: name2,
                    type: 'line',
                    data: data2,
                }, {
                    smooth: true,
                    name: name,
                    type: 'line',
                    data: data,
                }]
            });
        } else {
            $.extend(_option, {
                series: [{
                    smooth: true,
                    name: name,
                    type: 'line',
                    data: data,
                }]
            });
        }
    } else {
        //柱状图
        if (data2 != false) {
            $.extend(_option, {
                series: [{
                    barWidth: '60%',
                    name: name2,
                    type: 'bar',
                    data: data2,
                }, {
                    barWidth: '60%',
                    name: name,
                    type: 'bar',
                    data: data,
                }]
            });

        } else {
            $.extend(_option, {
                series: [{
                    barWidth: '60%',
                    name: name,
                    type: 'bar',
                    data: data,
                }]
            });
        }
    }
    echarts.init(document.getElementById(id)).setOption(
        _option);
}

set_chart('day_profit_line', '日平台盈利', chartdata.platform_profit);
set_chart('day_game_win_line', '日游戏输赢', chartdata.day_game_win);
set_chart('game_tax_line', '游戏税收', chartdata.game_tax);
set_chart('bets_gold_line', '打码量', chartdata.bets_gold);
set_chart('day_active_line', '每日活跃用户数', chartdata.active_user);
set_chart('day_reg_user_line', '每日新增用户数', chartdata.reg_user, 'bar');
set_chart('day_pay_money_line', '人工充值', chartdata.artificial_pay, 'bar', '线上充值', chartdata.online_pay);
set_chart('day_withdraw_line', '提现', chartdata.withdraw, 'line', '兑换', chartdata.exchange);
set_chart('withdraw_tax_line', '提现税收', chartdata.withdraw_pump, 'line', '兑换税收', chartdata.exchange_pump);
set_chart('agent_money_line', '佣金', chartdata.agent_money);


var myChart3 = echarts.init(document.getElementById('bar3_line'));
var myChart6 = echarts.init(document.getElementById('bar6_line'));

option = {
    color: ['#FF6347', '#40E0D0', '#ff3300'],
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['游戏中总人数', '游戏中玩家数', '游戏中机器人数']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
    },
    yAxis: [{
        splitLine: { show: false },
        type: 'value'
    }],
};
myChart3.setOption(option);

function get_online_number() {
    $.ajax({
        type: 'post',
        url: '{:url("index/index")}',
        data: { online_number: 1 },
        dataType: 'json',
        success: function(data) {
            console.log(data);
            myChart3.setOption({
                series: [{
                        smooth: true,
                        name: '游戏中玩家数',
                        type: 'line',
                        // stack: '总量',
                        label: {
                            normal: { show: true }
                        },
                        areaStyle: { normal: {} },
                        data: data.player,
                    },
                    {
                        smooth: true,
                        name: '游戏中机器人数',
                        type: 'line',
                        // stack: '总量',
                        label: {
                            normal: { show: true }
                        },
                        areaStyle: { normal: {} },
                        data: data.robot,
                    },
                    {
                        smooth: true,
                        name: '游戏中总人数',
                        type: 'line',
                        // stack: '总量',
                        label: {
                            normal: { show: true }
                        },
                        areaStyle: { normal: {} },
                        data: data.total,
                    }
                ]
            });
            myChart3.setOption({
                xAxis: [{
                    type: 'category',
                    boundaryGap: false,
                    data: data.time
                }]
            });
            setTimeout('get_online_number()', 30000);
        }
    });
}
get_online_number();


option6 = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: '',
            label: {
                backgroundColor: '#red'
            }
        }
    },

    color: ['#FF6347', '#40E0D0', '#ff3300', '#ccff00', '#cc6600', '#EE3A8C', '#CDAF95', '#CD3333', '#548B54', '    #1C86EE'],
    legend: {
        data: ['百人红黑', '百人龙虎', '百人牛牛', '奔驰宝马', '德州扑克', '抢庄牛牛', '水浒传', '十三水', '通比牛牛', '总盈亏']
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: [{
        splitLine: { show: false },
        type: 'category',
        boundaryGap: false,
        data: []
    }],
    yAxis: [{
        splitLine: { show: false },
        type: 'value'
    }],
    series: []
};
myChart6.setOption(option6);

function get_game_profit() {
    $.ajax({
        type: 'post',
        url: '{:url("index/index")}',
        data: { online_number: 2 },
        dataType: 'json',
        success: function(data) {

            myChart6.setOption({
                series: [{
                        smooth: true,
                        name: '百人红黑',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Bairenhh,
                    },
                    {
                        smooth: true,
                        name: '百人龙虎',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Bairenlonghu,
                    },
                    {
                        smooth: true,
                        name: '百人牛牛',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Bairenniu,
                    },
                    {
                        smooth: true,
                        name: '奔驰宝马',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Bcbm,
                    },
                    {
                        smooth: true,
                        name: '德州扑克',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Dezhou,
                    },
                    {
                        smooth: true,
                        name: '抢庄牛牛',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Qzn,
                    },
                    {
                        smooth: true,
                        name: '水浒传',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Shz,
                    },
                    {
                        smooth: true,
                        name: '十三水',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Sss,
                    },
                    {
                        smooth: true,
                        name: '通比牛牛',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.Tongbiniu,
                    },
                    {
                        smooth: true,
                        name: '总盈亏',
                        type: 'line',
                        label: {normal: { show: false }},
                        data: data.profit,
                    },

                ]
            });

            myChart6.setOption({
                xAxis: [{
                    type: 'category',
                    boundaryGap: false,
                    data: data.time
                }]
            });

            setTimeout('get_game_profit()', 30000);
        }
    });
}
get_game_profit();
</script>
{/block}