{extend name="common:base" /}
{block name="style"}
<style type="text/css">
.table>thead>tr>th {
    text-align: center;
}
</style>
{/block}
{block name="content"}
<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-inline" name="search-form" method="get" action="">
                    <div class="ibox-content">
                        <div class="m-b-md">
                            <h3>玩家排行</h3>
                        </div>
                        <!-- <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <a href="{:url('total/win_rank', [])}" class="btn btn-info">
                                <i class="fa fa-download"></i> 导出数据
                                </a>
                            </div>
                        </div> -->
                        <div class="form-group pull-right">
                            <div class="col-lg-10">
                                <button class="btn btn-primary pull-right" type="submit">
                                    搜索
                                </button>
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div class="form-group pull-right">
                            <select name="searchreal" class="form-control">
                                <option value="yst" {$searchreal=='yst' ?='selected' }>昨日</option>
                                <option value="day" {$searchreal=='day' ?='selected' }>今日</option>
                                <option value="week" {$searchreal=='week' ?='selected' }>本周</option>
                                <option value="month" {$searchreal=='month' ?='selected' }>本月</option>
                                <option value="all" {$searchreal=='all' ?='selected' }>总排行</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table  table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <th>排行</th>
                                    <th>玩家id</th>
                                    <th>输赢金币</th>
                                </tr>
                            </thead>
                            <tbody>
                                {notempty name="list"}
                                {volist name="list" id="vo" key="k"}
                                <tr>
                                    <td>{$k+($page-1)*20}</td>
                                    <td>{$vo.uid}/{$user_info[$vo.uid]}</td>
                                    <td>{$vo.amount}</td>
                                </tr>
                                {/volist}
                                {/notempty}
                            </tbody>
                        </table>
                        {$list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}