{extend name="common:base" /}
{block name="style"}
<style>
.col-lg-3 {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    color: grey;
}

.lianjie:hover {
    border: 2px solid #1ab394;
    background: #E8E8E8;
    margin: -1px -2px 0 -2px;
    color: #1ab394;
}

.stats-label {
    color: red;
    font-size: 18px;
    font-weight: bold
}

.pull-left {
    font-size: 18px;
    font-weight: bold
}

p {
    font-size: 15px;
}
.iconfont{
  font-size: 40px;
}

/* small{
        font:600;
    } */
</style>
<link rel="stylesheet" href="__STATIC__/fonts/icon/iconfont.css" type="text/css" />
{/block}
{block name="content"}
  首页
{/block}