{extend name="common:base" /}

{block name="content"}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$meta_title}</h5>
                    <div class="pull-right" style="margin-top:-8px;">
                        <button class="btn btn-info" id='clean_database'><i class="fa fa-refresh"></i> 清空数据</button>
                        <a class="btn btn-info ajax-get" href="{:url('menu/import_menu')}" target-form="form-horizontal" ><i class="fa fa-refresh"></i> 更新菜单</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>url地址</th>
                                    <th>状态</th>
                                    <th>显示</th>
                                </tr>
                            </thead>
                            <tbody>
                                {notempty name="menu_list_tree"}
                                {volist name="menu_list_tree" id="vo"}
                                <tr>
                                    <td>{$vo.title}</td>
                                    <td>{$vo.url}</td>
                                    <td>{eq name="vo['status']" value="1"}正常{else /}删除{/eq}</td>
                                    <td>{eq name="vo['hide']" value="1"}显示{else /}隐藏{/eq}</td>
                                </tr>
                                {if condition="isset($vo['_child'])"}
                                {volist name="vo['_child']" id="v"}
                                    <tr>
                                        <td>------ {$v.title}</td>
                                        <td>{$v.url}</td>
                                        <td>{eq name="v['status']" value="1"}正常{else /}删除{/eq}</td>
                                        <td>{eq name="v['hide']" value="1"}显示{else /}隐藏{/eq}</td>
                                    </tr>
                                    {if condition="isset($v['_child'])"}
                                    {volist name="v['_child']" id="v1"}
                                        <tr>
                                            <td style="">------------ {$v1.title}</td>
                                            <td>{$v1.url}</td>
                                            <td>{eq name="v1['status']" value="1"}正常{else /}删除{/eq}</td>
                                            <td>{eq name="v['hide']" value="1"}显示{else /}隐藏{/eq}</td>
                                        </tr>
                                    {/volist}
                                    {/if}
                                {/volist}
                                {/if}
                                {/volist}
                                {/notempty}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name='script'}
<script>
$(function() {
    $('#clean_database').click(function(){
         layer.confirm('此操作将会清空所有用户数据', {
          btn: ['确认','取消'] //按钮
          ,anim: 4 //动画类型
        }, function(){
            layer.confirm('并且没有日志记录，一旦清空无法复原', {
              btn: ['确认','取消'] //按钮
              ,anim: 3 //动画类型
            }, function(){
               layer.confirm('默认保留配置表数据和后台系统数据', {
                  btn: ['确认','取消'] //按钮
                  ,anim: 2 //动画类型
                }, function(){
                    layer.confirm('你确认要清空数据？', {
                      btn: ['确认','取消'] //按钮
                      ,anim: 1 //动画类型
                    }, function(index1){
                        layer.close(index1);
                        layer.prompt({title: '请输入二级密码', formType: 1}, function(pass, index){
                            $.post("{:url('database/cleanDatabase')}", {password:pass}, function(res){
                                layer.close(index);
                                if (res.code) {
                                    layer.msg(res.msg,{icon:6});
                                } else {
                                    layer.msg(res.msg,{icon:5});
                                }
                            });
                        });
                    });
                });
            });
        });
    });
});
</script>
{/block}